#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
p{
  margin: 0;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card{
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding: 12px;
  border-radius: 12px;
  background-color: rgba(255, 228, 196, 0.719);
  text-align: left;
  align-items: center;
  
}

.food{
  border-radius: 12px;
  width: 200px;
  object-fit: cover;
}

.card-text{
  color: rgb(56, 34, 10);
  font-size: 18px;
  font-weight: 500;
}

.form-btn{
  background-color: rgb(56, 34, 10);
  color: beige;
  margin-bottom: 14px;
}

.form-input{
  font-size: 24px;
  margin-bottom: 8px;
}
